{:lein true
 :builds {:browser {:target :browser
                    :output-dir "target/js"
                    :asset-path "/target/js"
                    :modules {:main {:entries [com.wotbrew.relic]}}}

          :cljidle {:target :browser
                    :output-dir "dev/examples/cljidle/js"
                    :asset-path "/js"
                    :compiler-options {:optimizations :advanced}
                    :modules {:cljidle {:entries [examples.cljidle.app]}}}

          :test {:target :node-test
                 :output-to "target/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun true}}}