{:lein true
 :builds {:browser {:target :browser
                    :output-dir "target/js"
                    :asset-path "/target/js"
                    :modules {:main {:entries [com.wotbrew.relic]}}}
          :test {:target :node-test
                 :output-to "target/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun true}}}